
<h1>Books List</h1>
<hr>

<a href="/books/create">Crear libro</a>

{{#each data}}
<div>
    <h3>{{ title }}</h3>
    <a href="/books/{{_id}}">Ver detalles</a>
    <a href="/books/{{_id}}/edit">Editar</a>
    <form action="/books/{{_id}}/delete" method="post">
        <button>Borrar</button>
    </form>
</div>
{{/each}}
